@using System.Collections.Generic;
@model IEnumerable<TiendaMVC.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<div class="modal fade" id="dlgAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuevo Producto</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="txtNom" placeholder="Nombre" />
                <br />
                <input type="text" id="txtFab" placeholder="Fabricante" />
                <br />
                <input type="text" id="txtDesc" placeholder="Descripcion" />
                <br />
                <input type="text" id="txtCost" placeholder="Coste" />
                <br />
                <input type="text" id="txtVent" placeholder="Venta"/>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h2>Productos</h2>
<input type="text" id="txtBusqueda" placeholder="Texto a buscar..."/>
<input type="button" id="btnBus" value="Buscar"/>
<button id="btnAdd" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#dlgAdd">
    Nuevo
</button>

<div id="listado">
    @Html.Partial("_listadoProducto", Model)
</div>

<div>

</div>

@section MiJavaScript
{
    <script>
        function alta() {
            var data =
            {
                nombre: $("#txtNom").val(),
                descripcion: $("#txtDesc").val(),
                precioCoste: $("#txtCost").val(),
                precioVenta: $("#txtVent").val(),
                fabricante: $("#txtFab").val(),
                idcategoria: 1

            };

            var url = "@Url.Action("Alta")";
            $.ajax
            ({
                url: url,
                data: JSON.stringify(data),
                type: "POST",
                headers: { "Content-Type": "application/json" },
                dataType: "json",
                success: function(res) {
                    if (res.idProducto > 0) {
                        $("#dlgAdd").modal('hide');
                        $("#txtBusqueda").val("");
                        listado();
                        alert("Guardado");
                    } else {
                        alert("Error al guardar");
                    }

                }

            });
        }


        function listado() {

            var url = "@Url.Action("Buscar")";
            var txt = $("#txtBusqueda").val();
            url += "?nombre=" + txt;

            $("#listado").load(url);

        }

        $("#btnGuardar").click(alta);

        $("#btnBus").click(listado);



    </script>
}
